In [21]:
import pandas as pd
import numpy as np

In [42]:
df1 = pd.DataFrame([['a', 'x', 0.123], ['a','x', 0.234],
                    ['a', 'y', 0.451], ['b', 'x', 0.453]],
                   columns=['first', 'second', 'value1']
                   ).set_index(['first', 'second'])
df1

              value1
first second
a     x        0.123
      x        0.234
      y        0.451
b     x        0.453

In [43]:
df2 = pd.DataFrame([['a', 10],['b', 20]],
                   columns=['first', 'value']).set_index(['first'])

df2

       value
first
a         10
b         20

In [44]:
firsts = df1.index.get_level_values('first')
firsts

Index(['a', 'a', 'a', 'b'], dtype='object', name='first')

In [46]:
firsts = df1.index.get_level_values('first')
df1['value2'] = df2.loc[firsts].values
df1

              value1  value2
first second
a     x        0.123      10
      x        0.234      10
      y        0.451      10
b     x        0.453      20

In [54]:
df1.sum(level=(0,1),axis=0) # great method

              value1  value2
first second
a     x        0.357      20
      y        0.451      10
b     x        0.453      20

In [52]:
df1.groupby(level=0, axis=0).sum() # great method

       value1  value2
first
a       0.808      30
b       0.453      20